<table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
        {% for cargo in hold %}
        <tr>
            <td>{{ cargo.product.title }}</td>
            <td><input type="number" value="{{ cargo.quantity }}"></td>
            <td>{{ cargo.price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td> {{ total }}</td>
        </tr>
    </table>
